<!DOCTYPE html>
<html lang="en" ng-app = "myApp">
    <head>co
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <!-- <script src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyC7ALaX6DMSttr_8yB-Z1pi0LOeDF7P07M&callback=initMap">
        </script>
        --> <script src="https://code.angularjs.org/1.3.0-rc.1/angular.min.js"></script>
        <script src="app.js"></script>
        <link rel="stylesheet" type="text/css" href="starter-template.css">
        <!--<link rel="icon" href="../../favicon.ico">-->

        <title>Sophia- The BOSS</title>

    </head>

    <body>

        <div class="container">
            <div class="starter-template">
                <div ng-controller="mainController">    
                    <h1>Maps</h1>
                    
                    Enter a products name:
                    
                    <input type="text" name="product" id="product" ng-model = "id_product" ng-keyup="complete(id_product)"/> 
                    
                    <ul class="list-group" ng-model="hidethis" ng-hide="hidethis">
                        <li class="list-group-item" ng-repeat="productdata in filterProduct" ng-click="fillTextbox(productdata)">
                            {{productdata}}
                        </li>
                    </ul>
                    
                    <input type = "text" ng-model="search">
                    
                    <br>
                    
                    <my-maps id="maps_style"></my-maps>
                    
                    <br>
                    <input type="text" id="address" placeholder="Location to search for">
                    <input type="text" id="searchfor" placeholder="Search Criteria">
                    <button type="button" id="btnNewSearch" name="btnNewSearch" ng-click="searchCriteria()" >Search</button>
                    <button type="button" id="btnSearch" name="btnSearch" ng-click="findMe()" >where is this location</button>
                </div>
            </div>
        </div><!-- /.container -->
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7ALaX6DMSttr_8yB-Z1pi0LOeDF7P07M&libraries=places&callback=initMap"></script>
  </body>
        </script>
    </body>
</html>
